<div class="content" role="main">

  <div class="card highlight-card card-small">
    {{ title }} app is running!

  </div>
  <h2>Acciones básicas para una cookie</h2>

  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" (click)="allMight()">
      <span>Agregar cookies</span>
    </a>

    <a class="card" target="_blank" rel="noopener" (click)="allDeku()">
      <span>Mostrar una cookie</span>
    </a>

    <a class="card" target="_blank" rel="noopener" (click)="allForOne()">
      <span>Borrar una cookie</span>
    </a>
  </div>

</div>
